<%- include('./layouts/header') %>
<h1 class="form-title">Login</h1>
<form action="/auth/login" method="post" class="login-form">
  <div class="form-group">
    <label for="email" class="form-label">Email/Username</label>
    <input type="email" name="email" id="email" class="form-input" />
  </div>
  <div class="form-group">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" id="password" class="form-input" />
  </div>
  <div class="form-group">
    <input type="submit" value="Login" class="form-button" />
  </div>
</form>

<div class="form-footer">
  <p class="form-text">
    Don't have an account? <span><a href="/auth/register" class="form-link">Register</a></span>
  </p>
</div>
<br />
<%- include('./layouts/footer') %>
